<div class="jumbotron">
  <h1><%= @new_band.name %></h1>

  <form action="/bands/<%= @new_band.id() %>" method="post">
    <div class="form-group">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger">Delete <%= @new_band.name() %></button>
    </div>
  </form>

    <br></br>

  <form action="/bands/<%= @new_band.id() %>" method="post">
    <div class="form-group">
      <input type="hidden" name="_method" value="patch">
      <label for="name">Edit Band Name:</label>
      <input type="text" name="name" id="name" class="text-center">
      <br></br>
      <button type="submit" class="btn btn-danger">Edit</button>
    </div>
  </form>
</div>

<div class="main-text">
  <form action="/bands/<%= @new_band.id() %>/venues" method="post">
    <select id='venue_id' name='name' type='text'>
      <% @venues.each() do |venue| %>
        <option value="<%= venue.id()%>"> <%= venue.name() %> </option>
      <% end %>
      <input type="hidden" name="band_id" id="band_id" value="<%= @new_band.id() %>">
    </select>
      <br></br>
      <button type="submit" class="btn btn-danger">Add venue</button>
  </form>
</div>

<div class= "list">
  <% if @new_band.venues.any?() %>

    <h4>Venues played by this band:</h4>

      <ul>
        <% @venues.each() do |venue| %>
          <li><a href="/venues/<%= @venue.id() %>"></a><%= venue.name %></li>
        <% end %>
      </ul>

    <% else %>

      <h4>There aren't any venues yet.</h4>

  <% end %>
</div>
<br></br>



<div class="link">
  <a href="/">Back to main page</a>
</div>

<div class="link">
  <a href="/bands">Back to Bands</a>
</div>
